@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.bg-hero {
  background-image: url("/img/hero.png");
}

.text-balance {
  text-wrap: balance;
}

.ReactCollapse--collapse {
  transition: height 400ms;
  -webkit-transition: height 400ms;
  -moz-transition: height 400ms;
  -ms-transition: height 400ms;
  -o-transition: height 400ms;
}
